apiVersion: v1
kind: Service
metadata:
  name: iris-api-service
spec:
  type: LoadBalancer # Creates a public IP address
  selector:
    app: iris-api
  ports:
  - protocol: TCP
    port: 80 # External port
    targetPort: 8080 # Internal container port